.h1{
    position: absolute;
    top: 0;
    left: 30%;
    font-size: 80px;
    color: black;
    opacity: 0.5;
}

.blur {
    filter: blur(6px);
    -webkit-filter: blur(6px);  /* chrome, opera */
}

.page{
    width: 99%;
    margin: 0 auto;
}

.pageTop{
    height: 150px;
    background: gray;
}

.pageMain{
    max-height: 6000px;
    min-height: 600px;
}

.pageBottom{
    position: relative;
    z-index: -1;
    float: bottom;
    height: 100px;
    background: darkgray;
    opacity: 80%;
    border-radius: 0 0 25px 25px;
}

.Left{
    border-left:1px gray solid;
    border-right:1px gray solid;
    border-bottom:1px gray solid;
    border-radius:0 0 20px 0;
    width: 20%;
    background: black;
    float: left;
    opacity: 50%;
    color: gray;
    padding-bottom: 15px;
}
.Left:hover{
    transition-duration: 300ms;
    border-left:1px dodgerblue solid;
    border-right:1px dodgerblue solid;
    border-bottom:1px dodgerblue solid;
    box-shadow:0 0 15px dodgerblue;
    color: dodgerblue;
}

.right{
    width: 78%;
    background: black;
    float: right;
    height: 600px;
    max-height: 6000px;
    opacity: 80%;
}

li{
    border:3px gray double;
    color: gray;
    height: 25px;
    width: 90%;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    list-style: none;
    background: black;
    border-radius: 25px 0 25px 0;
}
li:hover{
    transition-duration: 300ms;
    color: dodgerblue;
    width: 100%;
    list-style: none;
    background: gray;
    border:3px dodgerblue double;
    box-shadow: 0 0 15px dodgerblue;
    text-shadow: 0 0 15px dodgerblue;
}
a{
    text-decoration: none;
}


.button{
    display: inline-block;
    background: dimgray;
    border-radius: 20px 0 20px 0;
    text-decoration-line: none;
    transition-duration: 0.3s;
    transition: width 0.5s;
    box-shadow: 5px 5px 20px dimgray;
    outline: none;
}
.button:active{
    background: gray;
    width: 243px;
}
.button:hover{
    width: 243px;
    background: darkgray;
}

.news{
    text-decoration-line: none;
    float: left;
    width: auto;
}
.news:hover{
    color: cornflowerblue;
}

.search{
    border: none;
    height: 30px;
    width: 50px;
    background: lightsalmon;
    border-radius: 20px;
    text-decoration-line: none;
    outline: none;
}
.search:hover{
    transition-duration: 200ms;
    background-color: blanchedalmond;
    box-shadow: 0 0 10px gray;
}
.search:after{
    box-shadow: 0 0 0;
}

.file{

}

.text{
    position: relative;
    margin-top: 30px;
    outline: none;
    padding: 15px;
    width: 80%;
    border-radius: 15px;
    resize: none;
}
.text:hover{
    transition-duration: 300ms;
    box-shadow: 0 0 15px dodgerblue;
}

.InnerLeft{
    margin: 20px;
    color: gray;
    width: 70%;
    height: auto;
    float: left;
}
.InnerRight{
    box-shadow: 0 0 15px black;
    z-index: 1;
    color: gray;
    padding: 10px;
    margin: 10px;
    width: 20%;
    height: auto;
    float: left;
}
.InnerBottom{
    width: 100%;
    height: 30%;
}

.InnerArticle{
    padding: 15px;
    width: 70%;
    border-right: 2px black solid;
    float: left;
}
.InnerExam{
    box-shadow: 0 0 15px black;
    color: black;
    margin: 15px;
    background: gray;
    width: 20%;
    padding: 15px;
    float: right;
    border-radius: 15px;
}
.InnerExam:hover{
    transition-duration: 300ms;
    box-shadow:0 0 15px dodgerblue;
}

.label{
    border-radius: 15px;
    border: 1px black solid;
    padding: 15px;
    text-align: left;
    margin-bottom: 20px;
}
.label:hover{
    border:1px dodgerblue solid;
    transition-duration: 300ms;
    box-shadow: 0 0 10px dodgerblue;
}
.submit{
    opacity: 100%;
    background: none;
    outline: none;
    width: 100%;
    height: 30px;
    border:1px black solid;
    border-radius: 15px;
}
.submit:hover{
    color: dodgerblue;
    background: darkgray;
    transition-duration: 300ms;
    border: 1px dodgerblue solid;
    box-shadow: 0 0 15px dodgerblue;
    text-shadow:0 0 15px dodgerblue;
}